<ion-content>

  
    <!-- Tarjeta de Registro -->
    <ion-card [style.background-color]="cardColor" class="rounded-card">
      <ion-card-content>
        <div class="logo-container">
          <h1 class="login-title">Register</h1>
        </div>
        <form (submit)="register()">
          <ion-item>
            <ion-label position="stacked">
              Name
            </ion-label>
            <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              Last Name
            </ion-label>
            <ion-input type="text" [(ngModel)]="last_name" name="last_name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              Location
            </ion-label>
            <ion-input type="text" [(ngModel)]="location" name="location"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              Email
            </ion-label>
            <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">
              Confirm Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit">Register</ion-button>
         
        </form>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <ion-button expand="block" class="extra-button" [routerLink]="['/auth']">
          Login
        </ion-button>
      </ion-card-content>
    </ion-card>
  
  
</ion-content>