.search-icon1 {
    width: 300px;
    height: 60px;
    margin-left: 10px;
  }
  .search-icon {
    width: 30px;
    height: 30px;
    margin-left: 70px;
  }
  .navbar-container {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  