ion-button.custom-button {
    --background: #CCD0DF;
    --background-hover: #CCD0DF;
    --background-activated: #CCD0DF;
    --background-focused: #CCD0DF;
  
    --color: rgb(0, 0, 0);
  
    --border-radius: 20px; /* Bordes más circulares */
  
    --box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  
    --ripple-color: deeppink;
  
    --padding-top: 4px; /* Ajusta el padding vertical */
    --padding-bottom: 4px;
    --padding-start: 12px; /* Ajusta el padding horizontal */
    --padding-end: 12px;
  
    --height: 30px; /* Altura del botón */
    --min-width: 80px; /* Ancho mínimo del botón */
  
    margin-right: 8px; /* Margen derecho para separación entre botones */
  }

  .container {
    display: flex; /* Establece el contenedor como un flex container */
    gap: 20px; /* Espacio entre los componentes */
    flex-wrap: wrap; /* Permite que los componentes se envuelvan si no caben en una sola línea */
  }
  
  .component-wrapper {
    flex: 1; /* Hace que los componentes ocupen todo el espacio disponible */
    margin-bottom: 20px; /* Espacio entre cada componente */
    padding: 16px; /* Espacio interno dentro del wrapper */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }