<div class="navbar-container">
  <a [routerLink]="['/home']">
    <img src="https://centrodelenguas.utp.ac.pa/App_Themes/Imagenes/logocel640.png" alt="Search Icon" class="search-icon1">
  </a>
  <a [routerLink]="['/users']">
  
    <img src="https://cdn-icons-png.flaticon.com/512/2603/2603910.png" alt="Search Icon" class="search-icon">
    
  </a>
  <a [routerLink]="['/details']">
   
    <img src="https://i.pinimg.com/564x/30/20/53/30205365d349c23f82890f631f489739.jpg" alt="Search Icon" class="search-icon">
  </a>
  <a [routerLink]="['/auth']">
   
    <img src="https://i.pinimg.com/564x/74/a7/35/74a735a7f1f7b0db7ba4e1c17cdf3b9c.jpg" alt="Search Icon" class="search-icon">
  </a>
</div>